@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.hotel-card {
    transition: box-shadow 200ms;

    &:hover {
        box-shadow: $box-shadow-sm;
    }

    &:active {
        box-shadow: $box-shadow;   
    }
}